@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #eef8ff;
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}

.row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col{
  flex-basis: 25%;
  padding: 10px;
}
.col .fa{
  color: #fff;
}
.logo{
  width: 80px;
  margin-bottom: 30px;
}
ul li{
  list-style: none;
  margin-bottom: 12px;
}
ul li a{
  text-decoration: none;
  color: #fff;
}
form{
  /* padding-bottom: 15px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid #ccc; */
  /* margin-bottom: 50px; */
}

form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
  
}

form textarea{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

.form-attributes{
  height: 30px;
  background-color: transparent;
  border: solid 1px gray;
}

.col .msg{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #ccc;
  background: #ccc;
  transition: 1s;
}
