
	#header
	{
		width:122%;
		float:left;
		text-align:center;
		/*position:fixed;*/
		background-color:#fff;
	}
	#logo
	{
		background: url("final.jpg") center center no-repeat;
    width: 180px;
      min-height: 70px;
    background-size: contain;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
	width:30%;
		float:left;
  }
	#logo h1
	{
		cursor:pointer;
		transition:1s;
		color:rgb(8, 6, 6);
		font-family:cambria;
	}
	
	#menu
	{
		float:left;
		width:70%;
	}
	#menu ul
	{
		  margin-right: 10%;
		  padding: 0;
		  float:right;
		  text-align: center;
	}
	#menu ul li
	{
	cursor:pointer;
	list-style-type:none;
	display:inline-block;
	padding:8px;
	}
	
	#menu ul li a
	{
	font-family:'Poppins',sans-serif;
	text-decoration:none;
	color:rgb(5, 3, 3);
	font-weight: bolder;
   font-size: 18px;
	}
	#menu ul li a:hover
	{
		color:rgb(0, 0, 0);
		background-color: rgb(236, 126, 22);
		font-weight: 400;
	}


	.footer{
		width: 122%;
		bottom: 0;
		background: linear-gradient(to right, #00093c, #2d0b00);
		color: #fff;
		padding: 100px 0 30px;
		border-top-left-radius: 125px;
		font-size: 13px;
		line-height: 20px;
	  }
	  
	  .footer .row{
		width: 85%;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
	  }
	  
	  .footer .row .col{
		flex-basis: 25%;
		padding: 10px;
	  }
	  .footer .row .col .fa{
		color: #fff;
	  }
	  .footer .row .col .logo{
		width: 200px;
		height: 100px;
		margin-bottom: 30px;
		border-radius: 50px;
	  }
	  .footer .row .icons .fa{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		text-align: center;
		line-height: 40px;
		font-size: 20px;
		color: #fff;
		margin-right: 15px;
		cursor: pointer;
	  }
	  .footer .row .col ul li{
		list-style: none;
		margin-bottom: 12px;
	  }
	  .footer .row .col ul li a{
		text-decoration: none;
		color: #fff;
	  }
	  .footer .row .col form{
		/* padding-bottom: 15px; */
		display: flex;
		align-items: center;
		justify-content: space-between;
		/* border-bottom: 1px solid #ccc; */
		
	  }
	  
	  .footer .row .col form input{
		width: 50%;
		background: transparent;
		color: #ccc;
		border: 0;
		outline: none;
		
	  }
	  
	  .footer .row .col form textarea{
		width: 100%;
		background: transparent;
		color: #ccc;
		border: 0;
		outline: none;
	  }
	  
	  .footer .row .col .form-attributes{
		height: 30px;
		background-color: transparent;
		border: solid 1px gray;
	  }
	  
	  .footer .row .col .msg{
		display: flex;
		align-items: center;
		margin-bottom: 40px;
	  }
	  .footer .row .col form button{
		background: transparent;
		border: 0;
		outline: none;
		cursor: pointer;
	  }
	  .footer .row .col .hero-btn{
		width: 90px;
		height: 30px;
		display: inline-block;
		text-decoration: none;
		color: #fff;
		border: 1px solid #fff;
		padding: 2px 5px;
		font-size: 13px;
		background: transparent;
		position: relative;
		cursor: pointer;
	  }
	  .footer .row .col .hero-btn:hover{
		border: 1px solid #ccc;
		background: #ccc;
		transition: 1s;
	  }
	  
	  .footer .row .col div.icons{
		display: table;
		width: 200px;
		table-layout: fixed;    /* For cells of equal size */
	  }
	  
	  .footer .row .col div.icons span{
		display: table-cell;
		text-align: center;
	  }
	  .footer .row .col .icons a{
		color: #fff;
	  }
	  
	  .footer .row .col.connect{
		text-align: center;
		width: 200px;
	  }
	  
	