@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #fff;
}
.slider {
  max-width: 1100px;
  display: flex;
}
.slider .card {
  flex: 1;
  margin: 0 10px;
  background: #fff;
  width: auto;
  height: auto;
  border: none;
  box-shadow: 10px 10px 5px grey;
}
.slider .card .img {
  height: 200px;
  width: 100%;
}
.slider .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content {
  padding: 10px 20px;
}
.card .content .title {
  font-size: 25px;
  font-weight: 600;
}
.card .content .title a{
  color: black;
}
.card .content .sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .content p {
  text-align: justify;
  margin: 10px 0;
  font-weight: 600;
}
.card .content .btn {
  text-align: left;
  margin: 10px 0;
}
.card .content .btn a {
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.card .content .btn a:hover {
  transform: scale(0.9);
}
@media screen and (max-width: 978px) {
  .slider {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card {
    max-width: 700px;
    margin: 20px 0;
  }
}
 .rating .fa{
  color: #f44336;
} 
