table{
    margin-right: auto;
    margin-left: auto;
   
    width: 100%;
    
}

table a{
    color: red;
    text-decoration: none;
}
html{
    display: block;
    height: 100%;
}
body{
    height: 80%;
}
/* a :hover{
    color: black;
} */

td{
    text-align: center;
}

h2{
    display: block;
}

.tourism-links{
    margin-right: auto;
    margin-left: auto;
}


